@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{margin:0; padding:0;}
body{
  font-family: 'Ubuntu', sans-serif;
  background:#f5f5f5;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

p{
  color:black;
}
.swiper-button-prev, .swiper-button-next{
  color:#dadada;
}
.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.swiper-button-prev, .swiper-button-next{
  color:rgba(0,0,0,0.1)  ;
  width:20px;
  height:
}
.swiper-slide{
  min-height:400px;
  display:flex;
  justify-content: center;
  align-items: center;;
}

.swiper-slide div{
  width:50%;
  height:400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img{
  width:100%;
  height:400px;
  object-fit: cover;
  object-position: center;
}
.title{
  text-align: center;;
  display:block;
  margin-top:30px;
  margin-bottom:15px;
  width:100%;
}

.count {
  border: 1px solid #dadada;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.link {
  width:100%;
}

.cart-length  {

  z-index: 999;
  position: absolute;
  left:15px;
  top:-10px;
  font-size:10px;
  font-weight:800;
  width:20px;
  height:20px;
  text-align: center;;
  background:white;

  border-radius:15px;
  color:black;
}

.cart-length-mobile  {

  z-index: 999;
  position: absolute;
  left:55px;
  top:-10px;
  font-size:10px;
  font-weight:800;
  width:20px;
  height:20px;
  text-align: center;;
  background:white;

  border-radius:15px;
  color:black;
}

.cart-length-mobile p {
  position: absolute;
  top:50%;
  left:50%;
  transform: translateY(-50%) translateX(-50%);


}

.cart-length p {
  position: absolute;
  top:50%;
  left:50%;
  transform: translateY(-50%) translateX(-50%);


}

.cart-container{
  display: flex;
  margin-top:105px;
  animation:0.3s scale-up ease;
  padding:0 10%;
  justify-content: space-between;

}
.cart-list{
  width:69%;
}

.finalizar-compra{
  width:29%;
}

@keyframes scale-up {
  from{opacity:0; scale:.8; left:-100px}
  to{opacity:1; scale:1; left:0}
}
.list-product{
  width:;
  border:1px solid #dadada;
  overflow: hidden;;
  margin-top:13px;
  position: relative;
  display: flex;

  align-items: center;;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);

}

.list-product div{
margin:0 40px;  
}

.list-product span{
  font-size:12px;
}
.list-product img{
  display: block;
 max-width: 150px;
max-height:auto;

}

.page{
  margin-top:80px;
}

.cart-footer{

  margin-top:35px;
}

.cart-footer h5{
  float:right;
}


.cart-footer  .cart-button{
  width:46%;
  padding:8px;
  background:white;
  border-radius: 10px;
  border:none;
  box-shadow:2px 2px 10px rgba(0,0,0,0.4);
  cursor: pointer;;
  margin-top:10px;

  text-align: center;
  text-decoration: none;
  color:black;;

}



.comprar{
  background:black;
  padding:16px;
  color:white;
  border:none;
  border-radius:30px;
  cursor: pointer;;
  margin-top:13px;
}
.total-wraper{
  margin-top:30px;
  width:100%;
  text-align: left;
}

.total-wraper h3{ 
  width: auto;
}
.cart-title{
  margin-top:20px;
}

.borrar-icon{
  cursor:pointer;
  transition: 0.3s ease;
}

.borrar-icon:hover{
  scale:1.1;
  transform: rotate(20deg);
  transition: 0.3s ease;
  color:red;
}

.nohayproductos{
  width:100%;
}

.finalizar-form{
  background:white;
  padding:20px;
  margin-top:13px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);

}

.finalizar-form input{  
    width:100%;
    margin-bottom:8px;
    padding:8px;
    box-sizing: border-box;
    border-radius:5px;
    border:none;
    background: #dadada;
}

.cart-seguir{
  background:#dadada;
  color:black;
  text-decoration: none;
  box-shadow:0 0 10px rgba(0,0,0,0.3);
  padding:12px;
  border-radius: 30px;
  margin-top:20px;
  display: block;;
text-align: center;

}

